body {
    margin: 0;
    background-color: rgba(95, 158, 160, 0.622);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: cadetblue;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

a {
    text-decoration: none;
    padding: 10px;
    color: black;
}

a:hover {
    color: red;
}

.bookList {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.book {
    background: cadetblue;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.book img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.likes {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}

.like-btn {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.like-btn:hover {
    transform: scale(1.2);
}

.comment-list {
  list-style: none;
  padding: 0;
}

.comment-list li {
  background: #9bc3c4;
  margin-bottom: 6px;
  padding: 8px;
  border-radius: 4px;
}

.no-comments {
  font-style: italic;
  color: #777;
}

.comment-form {
  margin-top: 10px;
}

.comment-form input {
  padding: 6px;
  margin-right: 5px;
  margin-bottom: 5px;
  background: #9bc3c4;
}

.comment-form button {
  padding: 6px 10px;
  cursor: pointer;
  background: #9bc3c4;
}